
<div class="top">
    <div class="header">
        <img class="header-img" src="images/METRO.png" />

        <div class="menu-items">
            <div>
                <img src="images/bi_wholesale.png" />
                <a href="./Metro.html">Stores</a>
            </div>
            <div>
                <img src="images/bi_delivery.png">
                <a href="./Metro.html">M-Professional</a>
            </div>
            <div>
                <img src="images/bi_onlineshop.png" />
                <a href="./Metro.html">Shop Online</a>
            </div>
            <div>
                <img src="images/bi_infosservices.png">
                <a href="./Metro.html">Info & Services</a>
            </div>
        </div>
        <div class="signin">
            <i class="fa-regular fa-user"></i>
            <a href="/admin/dashboard">Admin Portal</a>

        </div>
    </div>
    <div class="hero">
        <div class="search-div">
            <input type="text" placeholder="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <ul class="search-list">
                <li>
                    <p>Stores</p>
                </li>
                <li>
                    <p>M-Professional</p>
                </li>
                <li>
                    <p>Shop Online</p>
                </li>
                <li>
                    <p>Info & Services</p>
                </li>
            </ul>
        </div>
        <div class="hero-info">
            <div class="contact">
                <i class="fa-regular fa-circle-question"></i>
                <p>Contact Us</p>
            </div>
            <p class="line">|</p>
            <div class="location">
                <i class="fa-solid fa-location-dot"></i>
                <p>Airport Road Store, Lahore</p>
            </div>
        </div>
    </div>
</div>