<div class="content">
        <div class="teaser">
            <div class="teaser-text">
                <div class="txt">
                    <button class="btn1">OFFERS</button>
                    <h1>HOME DECOR ESSENTIALS!</h1>
                    <h4>Buy your furniture from METRO!</h4>
                    <button class="btn2">See Offers!</button>
                </div>
            </div>

            <div class="teaser-img">
                <img src="./images/Furniture-955x460.avif" />
            </div>
        </div>

        <div class="options">
            <div class="hover-shadow">
                <img src="./images/at_catalogues.png" />
                <a href="./Metro.html" class="post">METRO POST</a>
            </div>
            <div class="hover-shadow">
                <img src="./images/at_store.png" />
                <a href="./Metro.html" class="stores">OUR STORES</a>
            </div>
            <div class="hover-shadow">
                <img src="images/at_newsletter.png" />
                <a href="./Metro.html" class="subscribe">NEWSLETTER</a>
            </div>
            <div class="hover-shadow reward4">
                <img src="images/at_payment-card.png" />
                <a href="./Metro.html" class="rewards"> METRO REWARDS</a>
            </div>
        </div>

        <div class="teaser-below">
                <div class="part1 parts">
                    <h2 class="non-food">Buy More, Pay Less</h2>
                    <div class="div-inside1 hover-shadow">
                        <h1>BUY MORE AND PAY LESS!</h1>
                        <h3>Buy in bulk and save more!</h3>
                        <button>See Offers!</button>
                    </div>
                </div>
                <div class="part2 parts">
                    <h2 class="non-food"> Shop Online !</h2>
                    <div class="div-inside2 hover-shadow">
                        <h1>SHOP ONLINE!</h1>
                        <h3>Buy from the comfort of your home!</h3>
                        <button>Buy Now!</button>
                    </div>
                </div>
        </div>

        <div class="catalogs">
            <h1>METRO CATALOGS</h1>
            <div>
                <a class="latest" href="/">METRO Latest offers(1)</a>
                <a class="latest2" href="/">METRO Catalogs(9)</a>
                <a class="latest2" href="/">METRO Mega Weekend Deals(1)</a>
            </div>
        </div>
        <div class="catalogs-img">
            <img src="./images/img1.jpg" />
            <h3>Laundry and Cleaning Essentials Offers</h3>
            <p>09/10/2024</p>
        </div>

        <h2 class="non-food">Non-Food Offers</h2>

        <div class="non-food-offers">
            <div class="choice hover-shadow">
                <div class="pic">
                    <img src="./images/TCL.png"/>
                </div>
                
                <h4>TCL 58 Android 4K TV</h4>
                <button>P635</button>
            </div>
            <div class="choice hover-shadow">
                <div class="pic"> 
                     <img src="./images/Hair-40-Inch.png"/>
                    </div>
                <h4>Haier 40 Android TV</h4>
                <button>K6600</button>
            </div>
            <div class="choice hover-shadow">
                <div class="pic">
                    <img src="./images/TCL.png" />
                </div>
                <h4>TCL 50 Android TV </h4>
                <button>P635</button>
            </div>
            <div class="choice hover-shadow">
                <div class="pic">
                    <img src="./images/Haier-Washing-Machine.png"/>
                </div>
                <h4>Haier washing Machine</h4>
                <button>Top Load *KG</button>
            </div>
            <div class="choice hover-shadow"> 
                <div class="pic">
                    <img src="./images/Samsung-Led-55.png"/>
                </div>
                <h4>Samsung 55 QLED TV</h4>
                <button>Q60B</button></div>
        <div  class="choice hover-shadow">
            <div class="pic">
                <img src="./images/Haier-15-Tone.png"/>
            </div>
            <h4>HAIER AC 1.5Ton</h4>
            <button>8kg-255</button>
        </div>
        <div class="choice hover-shadow"> 
            <div class="pic">
                <img src="./images/Samsung-Led-55.png"/>
            </div>
            <h4>Samsung 55 QLED TV</h4>
            <button>Q60B</button></div>
      </div>


      <div class="categories">
        <h2 class="non-food"> Buy from Categories</h2>
        <a href="/">Find all Categories</a>
      </div>



      <div  class="categories-list non-food-offers">
        <div class="choice hover-shadow">
            <h4>Commodities</h4>
            <div class="pic">
                <img src="./images/cf_broccoli.png"/>
            </div>
        </div>
        <div class="choice hover-shadow">
            <h4>Dairy</h4>
            <div class="pic"> 
                <img src="./images/cf_cheese.png"/>
               </div>
        </div>
        <div class="choice hover-shadow" >
            <h4>Beverages </h4>
            <div class="pic">
                <img src="./images/cf_soda.png" />
            </div>
            </div>
        <div class="choice hover-shadow">
            <h4>Toiletry</h4>
            <div class="pic">
                <img src="./images/cnf_cosmetics.png"/>
            </div>
        </div>
        <div class="choice hover-shadow"> 
            <h4>Fruits and Vegetables</h4>
            <div class="pic">
                <img src="./images/cf_carrot.png"/>
            </div>
        </div>
           
    <div  class="choice hover-shadow">
        <h4>Meat</h4>
        <div class="pic">
            <img src="./images/cf_meat.png"/>
        </div>
    </div>
</div>


<h2 class="non-food">Own Brand Offers</h2>

<div class="own-brand-offers non-food-offers">
    <div class="choice hover-shadow">
        <div class="pic">
            <img src="./images/Ok-Cooking-Oil.avif"/>
        </div>
        <h4>OK Cooking Oil</h4>
        <div class="btns">
            <button>1Liter x5</button>
        <button class="discount">DISCOUNT</button>
        </div>
        
    </div>
    <div class="choice hover-shadow">
        <div class="pic"> 
             <img src="./images/Ok-Banaspati.avif"/>
            </div>
        <h4>OK Banaspati Ghee</h4>

        <div class="btns">
            <button>1KG x5</button>
        <button class="discount">DISCOUNT</button>
        </div>
        
    </div>
    <div class="choice hover-shadow">
        <div class="pic">
            <img src="./images/Daal-Masoor.avif" />
        </div>
        <h4>Metro Chef Daal Masoor </h4>
       <div class="btns">
        <button>Washed 1KG</button>
        <button class="discount">DISCOUNT</button>
       </div>
    </div>
    <div class="choice hover-shadow">
        <div class="pic">
            <img src="./images/Ok-Daal.avif"/>
        </div>
        <h4>OK Daal Chana</h4>
        <div class="btns">
            <button>1KG</button>
        <button class="discount">DISCOUNT</button>
        </div>
    </div>
    <div class="choice hover-shadow"> 
        <div class="pic">
            <img src="./images/Pulses.avif"/>
        </div>
        <h4>Metro Chef daal Chana</h4>
        <div class="btns">
            <button>1KG</button>
        <button class="discount">DISCOUNT</button>
        </div>
    </div>

<div  class="choice hover-shadow">
    <div class="pic">
        <img src="./images/Ok-Tissue-Box.avif"/>
    </div>
    <h4>OK Tissue Jumbo Roll</h4>
   <div class="btns">
    <button>800 GM</button>
    <button class="discount">DISCOUNT</button>
   </div>
</div>
<div class="choice hover-shadow">
    <div class="pic">
        <img src="./images/Ok-Cooking-Oil.avif"/>
    </div>
    <h4>OK Cooking Oil</h4>
    <div class="btns">
        <button>1Liter x5</button>
    <button class="discount">DISCOUNT</button>
    </div>
    
</div>
</div>

<h2 class="non-food">Online Market Place</h2>
<div class="online-market-place">
    <div class="places hover-shadow">
        <img src="./images/Air.avif"/>
        <h2>AIR CONDITIONERS</h2>
        <h4>Buy All the Best Air conditioners at METRO</h4>
    </div>
    <div class="places hover-shadow">
        <img src="./images/Kitchen-Electronics.avif"/>
        <h2>KITCHEN APPLIANCES</h2>
        <h4>Buy the Best Kitchen appliances at METRO</h4>
    </div>
    <div class="places hover-shadow">
        <img src="./images/Television.avif"/>
        <h2>TV & ENTERTAINMENT</h2>
        <h4>Buy the Best LEDs, and electronics at METRO</h4>
    </div>
</div>

<h2 class="non-food">Feedback Form</h2>
<div class="form">
    <h1>GIVE US YOUR FEEDBACK</h1>
    <p>METRO cares about what their customers has to say</p>
    <button>Feedback Form </button>
</div>


<h2 class="non-food">Discover METRO</h2>
<div class="discover-metro">
    <div class="discover hover-shadow">
        <img src="./images/Small-Metro-Online-Trolley.avif">
        <h2>Buy Online</h2>
        <p>METRO online has been known for its quality in terms of products &amp; services. You can find out more about METRO Online &amp; why you should order online.&nbsp;</p>
    <a href="/">Know More</a>
    </div>
    <div class="discover hover-shadow">
        <img src="./images/Career-page.avif">
        <h2>Careers At METRO</h2>
        <p>Learn more about METRO Pakistan (Pvt) Ltd Careers, where we are thrilled to present an array of career opportunities to individuals who are eager to make a difference in the retail industry.&nbsp;</p>
        <a href="/">Know More</a>
    </div>
    <div class="discover hover-shadow">
        <img src="./images/Cover-image-and-women-in-trade-picture.avif">
        <h2>Empowering People</h2>
        <p>People are at the heart of what we do whether they are our own employees or our business partners in our value chain.</p>
        <a href="/">Know More</a>
    </div>
    <div class="discover hover-shadow">
        <img src="./images/Sustaibility-at-METRO.avif">
        <h2>Sustainability at METRO</h2>
        <p>At METRO, we have raised the issue of sustainability to a benchmark for our business activities.&nbsp;A principle that we have firmly anchored in our everyday business.&nbsp;</p>
        <a href="/">Know More</a>
    </div>
</div>

<div class="teaser teaserr">
    <div class="teaser-text">
        <div class="txt">
            <h1>METRO COMPANION APPLICATION</h1>
            <h4>Bringing you ease!</h4>
            <button class="btn2">Learn more!</button>
        </div>
    </div>

    <div class="teaser-img">
        <img src="./images/M-PRO-4.avif" />
    </div>
</div>

<div class="icons">
    <div class="seperate">
        <img src="./images/si_store.svg">
        <h3>Pick-up</h3>
        <p>In-stores</p>
        <a href="/">Contact nearest store</a>
    </div>
    <div class="seperate">
        <img src="./images/si_premium.svg">
        <h3>METRO</h3>
        <p>Premium</p>
        <a href="/">METRO own brands</a>
    </div>
    <div class="seperate">
        <img src="./images/si_delivery.svg">
        <h3>Deliver</h3>
        <p>Shop at home</p>
        <a href="/">Shop Online</a>
    </div>
    <div class="seperate">
        <img src="./images/si_stay-connected.svg">
        <h3>Stay</h3>
        <p>Connected</p>
        <a href="/">Email us</a>
    </div>
</div>

</div>
    
